<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<% if @book.authors.present? %>
<p><strong>Authors:</strong></p>
<ul>
<% @book.authors.each do |author|  %>
<li><%=author.name%></li> 
<% end %>
</ul>
<% end %>

<% if @loaned_users.present? %>
<p><strong>Loaned User:</strong></p>
<ul>
<% @loaned_users.each do |user|  %>
<li><%=user.full_name%></li> 
<% end %>
</ul>
<% end %>

<% if @book.users.present? %>
<p><strong>Users:</strong></p>
  <ul>
    <% @book.users.each do |user| %>
      <li><%= user.full_name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
